pip install sqlcell

In [1]:
%load_ext sqlcell.sqlcell

In [2]:
%%sql --engine=mssql+pymssql://ProgramUser:n3Tw0rKP%40s$02@172.23.3.76/tdobbins
        
select 1 as "Foo"

   Foo
0    1

In [3]:
%%sql --engine=tdobbins
        
select 1 as "Foo"

   Foo
0    1

In [6]:
%%sql --engine=172.23.3.76
        
select 1 as "Foo"

   Foo
0    1

In [6]:
%%sql
        
select 1 as "Foo"

   Foo
0    1

In [22]:
foo = ''
bar = 10
baz = (1,2,3)

In [23]:
%%sql --engine=PG
select * 
from NashvilleHousingPostgres 
where foo = :foo
    and bar like :bar
    and baz in :baz

ModuleNotFoundError: No module named 'psycopg2'

In [10]:
%%sql --engines

PG=postgresql://airflow:@10.183.226.101/NashvilleHousingPostgres

MSS=mssql+pymssql://ProgramUser:n3Tw0rKP%40s$02@172.23.3.76/NashvilleHousingMSSQL

LC=mssql+pymssql://odsreader:odsselect@172.23.2.90/ODS

['PG', 'postgresql://airflow:@10.183.226.101/NashvilleHousingPostgres']
['MSS', 'mssql+pymssql://ProgramUser:n3Tw0rKP%40s$02@172.23.3.76/NashvilleHousingMSSQL']
['LC', 'mssql+pymssql://odsreader:odsselect@172.23.2.90/ODS']

'Engines successfully registered'

In [11]:
%%sql --engines
list

PG  |  postgresql://airflow:@10.183.226.101/NashvilleHousingPostgres
MSS  |  mssql+pymssql://ProgramUser:n3Tw0rKP%40s$02@172.23.3.76/NashvilleHousingMSSQL
LC  |  mssql+pymssql://odsreader:odsselect@172.23.2.90/ODS

In [9]:
%%sql --refresh
engines

'Removed all records from engines'

one thing i tried to do with version 1 is mimic psql commands, but doing that forced restrictions on users who used other DBs. with this version, i'm removing those restrictions by allowing users to register their own often-run shortcut queries like so:

In [18]:
%%sql --hook

tables MSS = USE {0};
SELECT * FROM sys.Tables;

views mssql+pymssql://odsreader:odsselect@172.23.2.90/ODS = USE {0};
SELECT * FROM sys.Views;

views_ mssql+pymssql://:@localhost/ODS = USE {0};
SELECT * FROM sys.Views;

columns mssql+pymssql://odsreader:odsselect@172.23.2.90/ODS = EXEC sp_columns {0}

databases mssql+pymssql://odsreader:odsselect@172.23.2.90/ODS = SELECT name FROM master.sys.databases

'Hook successfully registered'

In [19]:
%%sql --hook
list

tables | USE {0};
SELECT * FROM sys.Tables;  | Engine:  mssql+pymssql://ProgramUser:n3Tw0rKP%40s$02@172.23.3.76/NashvilleHousingMSSQL
views | USE {0};
SELECT * FROM sys.Views;  | Engine:  mssql+pymssql://odsreader:odsselect@172.23.2.90/ODS
views_ | USE {0};
SELECT * FROM sys.Views;  | Engine:  mssql+pymssql://:@localhost/ODS
columns | EXEC sp_columns {0}  | Engine:  mssql+pymssql://odsreader:odsselect@172.23.2.90/ODS
databases | SELECT name FROM master.sys.databases  | Engine:  mssql+pymssql://odsreader:odsselect@172.23.2.90/ODS

In [16]:
%%sql --refresh
hooks

'Removed all records from hooks'

In [ ]:
%%sql --hook
list

In [12]:
%%sql --engine=LC
select 1 as some_lc_column

   some_lc_column
0               1

In [ ]:
%%sql

In [21]:
%%sql --engine=LC --var=df
select 1 as some_lc_column

   some_lc_column
0               1

In [22]:
df

   some_lc_column
0               1

In [31]:
%%sql --engine=LC --var=another_df --background
select 1 as some_lc_column

In [32]:
another_df

NameError: name 'another_df' is not defined

In [34]:
another_df

   some_lc_column
0               1